<div class="card shadow mb-4 mt-3">
	<div class="card-header py-3">
		<a href="/admin/booking" class="btn btn-sm btn-info">Go to back booking</a>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<img
					src="http://localhost:3000/<%= booking.payments.proofPayment %>"
					alt="<%= booking.bankId.id %> "
					style="width: 100%; display: block; margin: auto;"
				/>
				<div class="row">
					<% if (booking.payments.status === 'Proses') { %>
					<form
						action="/admin/booking/<%= booking.id %>/confirmation?_method=PUT"
						method="POST"
					>
						<button
							type="submit"
							class="btn btn-check btn-outline-primary btn-sm btn-auto btn-rounded mx-2"
						>
							<i class="fas fa-check"></i>
							Confirmation
						</button>
					</form>
					<form
						action="/admin/booking/<%= booking.id %>/reject?_method=PUT"
						method="POST"
					>
						<button
							type="submit"
							class="btn btn-check btn-outline-danger btn-sm btn-auto btn-rounded"
						>
							<i class="fas fa-times"></i>
							Reject
						</button>
					</form>
					<% } %>
				</div>
			</div>
			<div class="col-md-8">
				<div class="table-responsive">
					<table
						class="table table-bordered"
						id="dataTable"
						width="100%"
						cellspacing="0"
					>
						<thead>
							<tr>
								<th>Name</th>
								<th>Total</th>
								<th>Bank From</th>
								<th>Title</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= booking.memberId.firstName %></td>
								<td><%= booking.total %></td>
								<td><%= booking.bankId.nameBank %></td>
								<td><%= booking.itemId.title %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
